.vender-section{

    .first-section{


        @include large{
            .row div:nth-child(1)   .card{
                position: relative;
    
                &::before{
                    content: url(../img/vender/arrow-right-dark.png);
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -15px;
                    margin: auto;
                    z-index: 10;
                }

                body.dark-mode &::before{
                    filter: brightness(0) invert(1);
                }
    
            }    
        }   

       

    }

 
    .dropdown-group-custom{
        button{
            flex-direction: row;
            align-items: center;
            padding: 5px 10px !important;
        }
    }



}