.deposito-section{


    .container-img-deposito{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            margin: 5px;
        }

    }


    .owl-carousel-comprar{
        padding-top: 20px;
        padding-bottom: 20px;
    
        .item{
            background: $blue-fourth !important;
            min-width: 240px !important;
            height: auto !important;
            border-radius: 5px;
            color: $light !important;
            padding: 10px 10px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
            body.dark-mode &{
                background: linear-gradient(180deg, #555BCD 0%, #8B90F8 100%) !important;
            }
    
            small{
                color: $light !important;
            }
    
            button{
                border:  1px solid $light !important;
                width: 100%;
                color: $light !important;
                &:focus{
                    background: #4c85ff26 !important;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12) !important;
                }
            }
    
        }
    
    }
    

}