// Fonts
$main_font: 'Roboto', sans-serif;
// Media Queries
$maxSamll :576px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$full-page: 1610px;
// Colors
$light: #fff;
$dark: #000;
$warning: #F7931A;
$blue-first: #16285E;
$blue-second: #2D375C;
$blue-third: #0F1B46;
$blue-fourth:#4C84FF;
$blue-five:#2B315E;
$blue-six: #23509D;
$blue-seven: #4D5B81;
$blue-eight: #16285E;
$green: #23D160;
$gray-first: #464646;
$gray-second: #848484;
$fondo-color: #F5F7FB;
$danger: #D12323;
$danger-second: #FF5555;
$border-color: #ced4da;
